img {
    text-align: center;
    padding: 0.5rem;
    border-radius: 15px;
    width: 500px;
    height: auto;
}

div {
    position: relative;
}
.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

.absolutely {
    position: absolute;
}
